body{
  background-color: rgb(12, 14, 13);
  color:white;
  overflow: hidden;
}


h1{
  text-align: center;
  color: white;
}

.todo-wrapper{
background: #353434;
padding: 2%;
width: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
max-height: 80vh;
overflow-y: auto;
box-shadow: 0px 5px 7px rgb(66, 82, 60);

}


.primaryBtn{
  background-color: rgb(0,230,122);
  color: white;
  border:none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primaryBtn:hover{
  background-color: rgb(4, 196, 106);
}
.primaryBtn:active{
  background-color: rgb(112, 236, 178);
}


.secondaryBtn{
  background-color: rgb(71, 71, 71);
  color: white;
  border:none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;

}

.active{
  background-color: rgb(1, 184, 98);
}

.todo-list{
  display: flex;
  flex-direction: column;

}

.btn-area{
  margin-bottom: 15px;
}

.todo-list-item{
  background-color: #414040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgb(60, 67, 57);
}

.todo-list-item h3{
  font-size: 25px;
  color: rgb(0,230,122);
  font-weight: bold;
  margin: 0;
}

.todo-list-item p{
  font-size: 14px;
  color: rgb(201, 197, 197);
  margin-top: 8px;
}

.icon{
  font-size: 35px;
  cursor: pointer;
}

.icon:hover{
  color: red;
}

.check-icon{
  font-size: 25px;
  margin-left: 10px;
  color:rgb(2, 205, 111);
  cursor: pointer;
}

.check-icon:hover{
  color: rgb(4, 196, 106);
}

.edit-wrapper{
  background-color: #414040;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.edit-wrapper input,.edit-wrapper textarea{
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
}

.edit-wrapper .primaryBtn{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 16px;
  width:fit-content;
}